* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans serif;
}

.menu {
    background-color: deepskyblue;
    width: 100%;
    height: 50px;
}

.menu ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.conteudo h1 {
    margin: 10px;
    text-align: center;
    font-size: 50px;
}

.home {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: calc(100vh - 50px);
    background: azure;
}

.texto-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    overflow: hidden;

    background-image: url("/static/img/senai.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.calculos {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.calculos a {
    color: black;
    font-family: "Arial Black", sans-serif;
}

.calculos a:hover {
    color: white;
}

.card_calculo {
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: lightskyblue;
}

.card_geometria {
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: lightskyblue;
}

.card_operacao {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
}

.form-somar .form-subtrair .form-multiplicar .form-dividir .form-login {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 14px;
}

.form-somar .form-subtrair .form-multiplicar .form-dividir input {
    width: 80px;
}

.operador {
    font-size: 26px;
}

.icon_calculo {
    font-size: 40px;
    color: white;
}

.login {
    display: flex;
    flex-direction: column;
    width: 250px;


}

.card_login {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    text-align: center;
}

.title-senai{
    font-family: "Bangers", system-ui;]
    font-weight: 400;
    font-style: normal;
}

.cursos{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.curso-text{
    display: flex;
    text-align: center;
    justify-content: center;
}

.carrossel{
    display: flex;
    height: 100vh;
}

.curso-img{
    display: flex;
    height: 90vh;
    justify-content: flex-end;
}

.curso-text2{
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

