{% extends 'base.html' %}

{% block conteudo %}
<div class="card breed-card" data-purpose=" breed-card">

</div>
{% if gatos %}
{% for gato in gatos %}
<article class="breed-card shadow-sm p-0 overflow-hidden" data-purpose="breed-card">
    <div class="row g-0">
        <!-- Image Column -->
        <div class="col-md-4 position-relative card-img-container">
            <img alt="Abyssinian Cat" class="w-100 h-100 object-fit-cover"
                 src="{{gato.image}}">
            <span class="origin-badge">Origin: {{gato.origin}}</span>
        </div>
        <!-- Info Column -->
        <div class="col-md-8 p-4 p-lg-5 d-flex flex-column">
            <div class="d-flex justify-content-between align-items-start mb-2">
                <h3 class="h2 fw-bold mb-0">Abyssinian</h3>
                <span class="text-muted small fst-italic fw-medium">3-5 kg</span>
            </div>
            <div class="d-flex flex-wrap gap-2 mb-4">
                {% for temperamento in gato.temperament %}
                <span class="badge badge-soft-blue px-2 py-1">{{temperamento}}</span>
                {% endfor %}
            </div>
            <p class="text-muted mb-4 flex-grow-1" style="font-size: 0.95rem; line-height: 1.6;">
                The Abyssinian is easy to care for, and a joy to have in your home. They’re affectionate cats and love
                both people and other animals.
            </p>
            <div class="row g-4 mb-4">
                <!-- Adaptability -->
                <div class="col-sm-6 col-md-5">
                    <div class="d-flex justify-content-between mb-2">
                        <span class="small fw-bold text-uppercase text-muted"
                              style="font-size: 0.65rem; letter-spacing: 0.1em;">Adaptability</span>
                        <span class="small fw-bold" style="font-size: 0.65rem;">5/5</span>
                    </div>
                    <div class="progress" style="height: 6px; border-radius: 999px; background-color: #eee;">
                        <div class="progress-bar progress-bar-custom" style="width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="pt-4 border-top d-flex justify-content-between align-items-center mt-auto">
                <div>
                    <span class="d-block text-muted text-uppercase fw-bold"
                          style="font-size: 10px; letter-spacing: 0.1em;">Life Span</span>
                    <span class="fw-bold small">14-15 years</span>
                </div>
                <button class="btn btn-outline-brand rounded-3 px-4 fw-bold">Learn More</button>
            </div>
        </div>
    </div>
</article>

{% endfor %}
{% else %}
<h3>Nenhum gato</h3>
{% endif%}

<div class="col-lg-10">
    <!-- Breed Card 1: Abyssinian -->
</div>
{% endblock %}